<!DOCTYPE html>
<html lang="ja">

<head>
    <%- include('../templates/head'); %>
</head>

<body>
    <header>
        <%- include('../templates/header'); %>
    </header>

    <main>
        <%- include('../templates/body'); %>
            <div class="waku" id="searchResult">
                <h1><%- room %>への検索結果</h1>
                <% if (routes) { %>
                    <p>経路の第１候補： <%- routes.route1 %></p>
                    <p>経路の第２候補： <%- routes.route2 %></p>
                    <p>経路の第３候補： <%- routes.route3 %></p>
                    <% } else { %>
                        <p>検索結果はありませんでした。</p>
                        <% } %>
            </div>
    </main>

    <a class="return_top" href="#">▲TOPへ戻る</a>

    <footer>
        <%- include('../templates/footer'); %>
    </footer>
</body>

</html>